<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="status">{{ weather.name }} Погода</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="status">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ weather.name }} Погода</ion-title>
    </ion-toolbar>
  </ion-header>

  Температура: {{ weather.main.temp }} °C<br/>
  Влажность: {{ weather.main.humidity }}%<br/>
  Давление: {{ weather.main.pressure }} кПа<br/>
  <br/>
  <ion-button *ngIf="!isFavorite(weather.id)" (click)="addFavorite(weather.id, weather.name)">Добавить в Избранное</ion-button><br/>
  <ion-button *ngIf="isFavorite(weather.id)" (click)="deleteFavorite(weather.id)">Удалить из Избранного</ion-button><br/>
</ion-content>
